<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/my.css" />
    <title>Title</title>
</head>
<body>
<div id="app">
<div class="loginForm">
    <h1 class="title" style="text-align: center">添加省份界面</h1>
    <form class="form-horizontal" action="">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">省份</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" v-model="province.name">
            </div>
        </div>
        <div class="form-group">
            <label for="tags" class="col-sm-2 control-label">标签</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="tags" name="tags" v-model="province.tags">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" @click="addProvince">添加</button>
            </div>
        </div>
    </form>
</div>
</div>
</body>
</html>
<!--引入vue和axios-->
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            province:{},
        },
        methods:{
            addProvince()
            {
                axios.post("http://localhost:8989/province/save",this.province).then((res)=>{
                    if(res.data.state){
                        alert("添加省份成功");
                        location.href="./provinceList.html";
                    }
                    else{
                        alert(res.data.msg);
                    }
                });
            }
        },

    });

</script>