<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljh.travels.dao.PlaceDao">
    <!--根据省份id查询所有景点(分页)-->
    <select id="findByProvinceIdPage" resultType="Place">
        select * from t_places where provinceid=#{provinceId}  limit #{start},#{rows}
    </select>

    <!--根据省份id查询所有记录数-->
    <select id="findByProvinceIdCounts" parameterType="String" resultType="Integer">
        select count(id) from t_places where provinceid=#{provinceId};
    </select>

    <!--添加place-->
    <insert id="save" parameterType="Place" useGeneratedKeys="true" keyProperty="id">
        insert into t_places values (#{id},#{name},#{picPath},#{hotTime},#{hotTicket},#{dimTicket},#{placeDes},#{provinceId});
    </insert>
</mapper>